* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 56%,
    rgba(47, 0, 0, 1) 100%
  );
  background-attachment: fixed;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100%;
}

h1 {
  text-align: center;
  text-shadow: 0 0 4px #ff0000;
}

h2,
h4 {
  color: red;
  text-shadow: 0 0 4px #ff0000;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
}

p {
  line-height: 1.8;
}

.background-image {
  position: fixed;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  z-index: -2;
}

.menu-toggle {
  position: fixed;
  margin: 10px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: rgba(9, 9, 10, 0.7);
  padding: 30px;
  visibility: visible;
}

.nav-bar a {
  margin-bottom: 20px;
  font-size: 16px;
  color: rgb(181, 181, 181);
  text-decoration: none;
  font-weight: bold;
}

.nav-bar a:hover {
  color: white;
  font-size: 20px;
  transition: 0.5s;
}

@media screen and (min-width: 670px) {
  .nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 1.5s;
    visibility: visible;
  }
  .menu-toggle {
    visibility: hidden;
  }
}

.band-bio {
  background-color: rgba(9, 9, 10, 0.9);
  margin: 30px auto;
  color: #ffea71;
  border-radius: 20px;
  max-width: 800px;
  box-shadow: 1px 1px 10px red inset;
}

.band-bio > p {
  text-align: justify;
  padding: 30px;
}

.members--name {
  background-color: black;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 4px #ff0000;
}

.members--img {
  background-image: url("/img/profile/IMG_9488.jpg");
  min-width: fit-content;
  min-height: 100vh;
  z-index: -1;
}

.members--img--2 {
  background-image: url("/img/profile/Agent\ Hellfire\ im\ Sage_-31.jpg");
  min-height: 100vh;
  z-index: -1;
}

.members--img,
.members--img--2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.members--text {
  background-color: black;
  text-align: center;
}

.members--text > p {
  padding: 50px;
}

.members--icon {
  display: flex;
  justify-content: space-evenly;
}

.carousel--img {
  position: relative;
  object-fit: contain;
  margin: auto;
  max-width: 900px;
}
.carousel .carousel--img {
  .slide {
    img {
      height: 100%;
      width: auto;
    }
  }
}

.videos {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-width: 50%;
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music > p {
  background-color: black;
  color: #ffd700;
}

.music--spotify,
.music--album-cover {
  max-width: 600px;
  margin: 20px auto;
}

.images--shop {
  object-fit: contain;
}

.product > p {
  background-color: black;
  max-width: fit-content;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.contact > p {
  background-color: black;
  color: #ffd700;
  padding: 10px auto;
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
}

.contact--form {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #ffd700;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px auto 0;
  width: 100%;
  bottom: 0;
}

.goTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.hellfire {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
