* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

h2 {
  color: red;
  text-shadow: 0 0 4px #ff0000;
  margin: 10px auto;
}

.background-image {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.menu-toggle {
  position: fixed;
  margin: 0 10px;
  top: 5px;
  left: 5px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: rgb(52, 58, 64, 0.9);
  padding: 30px;
}

.nav-bar a {
  margin-bottom: 20px;
  font-size: 16px;
  color: rgb(181, 181, 181);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-bar a:hover {
  color: white;
  font-size: 20px;
}

.band-bio {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(52, 58, 64, 0.5);
  margin: 50px auto;
  padding: 10px;
}

.band-bio > p {
  text-align: justify;
  padding: 30px;
}

.imageWrapper img {
  object-fit: cover;
  width: 500px;
  height: 300px;
}

.members-left {
  display: flex;
  flex-flow: column wrap;
  text-align: start;
}

.members-right {
  display: flex;
  flex-flow: column wrap;
  text-align: end;
}

.name-members {
  text-align: center;
}
